* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #fff;
  --sec-text-color: #ddd;
  --bg-color: #111;
  --sec-bg-color: #333;
  --hover-bg-color: #444;
  --accent-color: #a4dbf3;
  --sec-accent-color: rgb(17, 18, 88);
}
.light {
  --text-color: #000;
  --sec-text-color: #333;
  --bg-color: #ddd;
  --sec-bg-color: #eee;
  --hover-bg-color: #ccc;
  --sec-accent-color: #f77;
}
body {
  color: var(--text-color);
  background-color: var(--bg-color);

  transition: all 1s;
}
p {
  color: var(--sec-text-color);
}
.flex {
  display: flex;
  align-items: center;
}
.container {
  max-width: 90vw;
  margin-inline: auto;
}
.hover-link {
  text-shadow: 0px 0px 5px var(--sec-accent-color);
  transition: all 0.3s;
}
.hover-link:hover {
  cursor: pointer;
  text-shadow: 0px 0px 3px var(--accent-color), 0px 0px 5px var(--accent-color),
    0px 0px 7px var(--accent-color);
}
.hover-link:active,
.hover-link.active {
  color: var(--accent-color);
  text-shadow: 0px 0px 2px var(--accent-color),
    0px 0px 3px var(--sec-text-color);
}
.btn {
  background-color: var(--sec-accent-color);
  color: var(--sec-text-color);
  padding: 3px 13px;
  border-radius: 7px;
  border: 2px solid var(--accent-color);
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s;
}
.btn:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 0px 8px 1px var(--accent-color);
}

nav {
  background-color: var(--hover-bg-color);
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  box-shadow: 0px 0px 7px var(--sec-accent-color);
}
nav .container {
  justify-content: space-between;
  padding-block: 10px;
}
.logo h1 span {
  background-color: var(--accent-color);
  padding: 2px 7px;
  border-radius: 7px;
}

.logo h1 span:hover {
  background-color: var(--accent-color);
}
.nav-links ul {
  gap: 1rem;
  list-style: none;
}
.search-bar input {
  padding: 3px 13px;
  border-radius: 7px;
  border: 2px solid var(--sec-accent-color);
  font-weight: 500;
  font-size: 1rem;
  width: 10rem;
}
#theme {
  font-size: 1.6rem;
  transform: rotate(80deg);
  transition: all 0.5s;
}
#theme.active {
  transform: rotate(0deg);
}
main {
  padding-block: 20px;
  margin-top: 6rem;
}
.news-boxes {
  justify-content: space-between;
  align-items: start;
  row-gap: 3rem;
  flex-wrap: wrap;
}
.news-box {
  width: 30%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 7px var(--sec-accent-color);
  background-color: var(--sec-bg-color);
  transition: all 0.3s;
}
.news-box:hover {
  transform: translate(-3px, -3px);
  box-shadow: 2px 2px 9px var(--accent-color);
  background-color: var(--hover-bg-color);
}
.news-box img {
  width: 100%;
  height: 9rem;
  object-fit: cover;
}
.news-content {
  padding: 20px;
  line-height: 1.5rem;
}
#news-title {
  line-height: 2rem;
}
#news-src {
  margin: 1rem 0.5rem;
}
